<div class="jobby-app-container">
  <div class="serachbox">
    <input type="text" />
  </div>
  <select class="emp-type" name="" id="">
    <option value="FULLTIME">Full Time</option>
    <option value="PARTTIME">Part Time</option>
    <option value="FREELANCE">Freelance</option>
    <option value="INTERNSHIP">Internship</option>
  </select>

  <select class="min-package" name="" id="">
    <option value="">10LPA and Above</option>
    <option value="">20LPA and Above</option>
    <option value="">30LPA and Above</option>
    <option value="">40LPA and Above</option>
  </select>
</div>

<!-- <div class="result-container">
  <h3>Open positions will come here</h3>
  <div *ngIf="isLoading">Loading.......</div>
  <div *ngIf="errMsg">Error: {{ errMsg }}</div>
  <div class="result-inner-wrapper" *ngIf="!isLoading && !errMsg">
    <li *ngFor="let item of list">{{ jobs.title }} - {{ jobs.company }}</li>
  </div>
</div> -->
