/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to right, #000428, #004e92);
    color: #fff;
    font-family: 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
}

* {
    outline: none;
    margin: 0;
    padding: 0;

}

h1, h2, h3 {
    color: #ffffff;            /* Bright white */
  }
  
h4, h5, h6 {
color: #b0c7ff;            /* Soft techy blue */
}

p, li, span, small {
color: #cfd8ff;           /* Cool light blue */
font-weight: 300;
}

ul {
    list-style-type: none;
    padding: 0;
}

.primary-btn {
    background: #00c6ff;         /* Cyan accent */
    color: #000428;              /* Dark blue text */
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
  }
  .primary-btn:hover {
    background: #00a2d8;
  }

  .secondary-btn {
    background: transparent;
    color: #cfd8ff;
    border: 1px solid #cfd8ff;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
  }

  .secondary-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }

