<!-- <app-greeting [message]="homeMessage()" />
<app-counter />
<input
  placeholder="type somethimg..."
  type="text"
  (keyup)="keyUpHAndler($event)"
/> -->

<section class="banner-wrapper">
  <p>All Tasks</p>
  <h1>All Coding Practices</h1>
  <p>Checkout all my coding practices to see more intresting things..</p>
</section>
<section class="popular-tasks-wrapper">
  <div class="task-filter">
    <h2>All Practices</h2>
    <select name="select" id="all">
      <option value="all">All</option>
      <option value="angular">Featured</option>
    </select>
  </div>

  <ul class="popular-card-container">
    @for (card of popularTaskList; track card.id) {

    <li [routerLink]="`${card.path}`">
      <img [src]="card.gif" [alt]="card.name" />
      <h2>{{ card.name }}</h2>
      <p>{{ card.description }}</p>
      <a [routerLink]="`${card.path}`">Click Here</a>
    </li>
    }
  </ul>
  <button class="primary-btn">Load More</button>
</section>
